#controls, #header {
    -fx-background-color: rgb(37, 71, 84);
}

#newUI {
    -fx-background-image: url("/images/new.png");
    -fx-background-size: 48px 48px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

#profileUI {

}

#settingsUI {
    -fx-background-image: url("/images/settings.png");
    -fx-background-size: 24px 24px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

#discoverUI {
    -fx-background-image: url("/images/discover.png");
    -fx-background-size: 48px 48px;
    -fx-background-color: rgba(255, 255, 255, 0);
}
